######ADDED BY ANSIBLE######
{% for server in groups['elk'] %}
{{hostvars[server]['ansible_facts']['default_ipv4']['address']}} {{hostvars[server]['ansible_facts']['hostname']}} 
{% endfor %} 
######ADDED BY ANSIBLE######
